.Main {
      
     font-family: cursive;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
}
.web {
    margin: 5px;
    align-content: center;
    
}

.photo {
    border-radius: 50%;
    height: 158px;
    width: 158px;
}


